{% extends "base.html" %}

{% block content %}
<!-- Breadcrumb -->
<div style="display: flex; align-items: center; gap: 10px;">
    <button onclick="location.href='/'" class="btn btn-primary" style="border: none; background: none; padding: 0;">
        <i class="bi bi-house-fill" style="font-size: 22px; color: #33a3b8;"></i>
    </button>
    <p style="margin: 0;">/ {{ breadcrumb }} / Agregar</p>
</div>
<!-- Main content -->
<div class="container-fluid mt-4">
    <div style="display: flex; align-items: center; gap: 10px; background-color: #d6d4d4;">
        <button onclick="location.href='{{ url_volver }}'" class="btn btn-agregar" style="margin: 3px; display: flex; align-items: center;">
            <i class="bi bi-chevron-left" style="font-size: 20px; margin-right: 8px;"></i>
            <p style="margin: 0;">Volver</p>
        </button>        
        <p style="margin: 0;"> {{ breadcrumb }}</p>
    </div>
    
    <div class="container-fluid p-4">
        <form method="POST" action="{{ url_crear }}">
            {% for campo in campos %}
                <div class="d-flex align-items-center mb-3">
                    <div class="me-3" style="width: 100px;">
                        <label for="{{ campo.name }}" class="form-label mb-0" style="font-weight: bold;">
                            {{ campo.label }}
                        </label>
                    </div>
                    <div class="flex-grow-1" style="padding-left: 100px;">
                        {% if campo.type == 'text' %}
                            <input type="text" placeholder="Escribe {{ campo.label }}" class="form-control" id="{{ campo.name }}" name="{{ campo.name }}" {% if campo.required %} required {% endif %}>
                        {% elif campo.type == 'select' %}
                            <select class="form-select" id="{{ campo.name }}" name="{{ campo.name }}" {% if campo.required %} required {% endif %}>
                                <option value="" disabled selected>Selecciona {{ campo.label }}</option>
                                {% for option in campo.options %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        {% elif campo.type == 'checkbox' %}
                            {% for option in campo.options %}
                                <input class="form-check-input" type="checkbox" id="{{ option }}" name="{{ option }}">
                                <label class="form-check-label" for="{{ option }}">{{ option }}</label>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="d-flex" style="margin-top: 50px;">
                <button type="submit" class="btn btn-agregar" style="background-color: #068c64; color: white;"><i class="bi bi-check"></i>Agregar</button>
            </div>


        </form>
    </div>
    
    
    
</div>
{% endblock %}