{% extends "base.html" %}

{% block content %}
<!-- Breadcrumb -->
<div style="display: flex; align-items: center; gap: 10px;">
    <button onclick="location.href='/'" class="btn btn-breadcrumb" title="Home">
        <i class="bi bi-house-fill" style="font-size: 22px; color: #33a3b8;"></i>
    </button>
    <p style="margin: 0;">/ {{ breadcrumb }} / Agregar</p>
</div>
<!-- Main content -->
<div class="container-fluid mt-4">
    <div style="display: flex; align-items: center; gap: 10px; background-color: #d6d4d4;">
        {% set endpoint = url ~ '.' ~ url %}
        <button onclick="location.href='{{ url_for(endpoint) }}'" class="btn btn-secondary" style="margin: 3px; display: flex; align-items: center;">
            <i class="bi bi-chevron-left" style="font-size: 20px; margin-right: 8px;"></i>
            <p style="margin: 0;">Volver</p>
        </button>        
        <p style="margin: 0;"> {{ breadcrumb }}</p>
    </div>
    
    <div class="container-fluid p-4">
        {% set endpoint = url ~ '.nuevo' %}
        <form method="POST" action="{{ url_for(endpoint) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {% for campo in campos %}
                <div class="d-flex align-items-center mb-3">
                    <div class="me-3" style="width: 100px;">
                        <label for="{{ campo.name }}" class="form-label mb-0" style="font-weight: bold;">
                            {{ campo.label }}
                        </label>
                    </div>
                    <div class="flex-grow-1" style="padding-left: 100px;">
                        {% if campo.type == 'select' %}
                            <select class="form-select" id="{{ campo.name }}" name="{{ campo.name }}" {% if campo.required %} required {% endif %}>
                                <option value="" disabled selected>Selecciona {{ campo.label }}</option>
                                {% for option in campo.options %}
                                    <option value="{{ option }}">{{ campo.options[option] }}</option>
                                {% endfor %}
                            </select>

                        {% elif campo.type == 'checkbox' %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-action" style="background-color: #33a3b8;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Seleccionar Servicios Involucrados con el CI
                            </button>
                    
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex flex-column">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="Cerrar esta ventana no elimina las selecciones."></button>
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Selecciona los Servicios Involucrados con el Item...</h1>
                                            <p class="text-danger" id="staticBackdropLabel">
                                                <strong>Advertencia!</strong> Los servicios aparecerán únicamente cuando sean agregados en la pestaña <em>"Servicios"</em>.
                                            </p>
                                        </div>
                                        <div class="modal-body d-flex flex-column">
                                            {% for id_servicio, alias in campo.options.items() %}
                                                <div>
                                                    <input class="form-check-input" type="checkbox" id="{{ id_servicio }}" name="{{ campo.name }}" value="{{ id_servicio }}">
                                                    <label class="form-check-label" for="{{ id_servicio }}">{{ alias }}</label>
                                                    <input type="relacion" placeholder="Describe la Relación" class="form-control" id="desc_relacion" name="desc_relacion" style="margin-bottom: 10px;">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" style="background-color: #068c64;" data-bs-dismiss="modal">Listo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif campo.type == 'text' %}
                            <textarea class="form-control" id="{{ campo.name }}" rows="1" oninput="autoResize(this)" placeholder="Escribe {{ campo.label }}" style="width: 100%; min-height: 40px; overflow: hidden; resize: none;"{% if campo.required %} required {% endif %} {% if campo.name == 'rut' %} maxlength="12" {% endif %}></textarea>
                        {% else %}
                            <input type="{{ campo.type }}" placeholder="Escribe {{ campo.label }}" class="form-control" id="{{ campo.name }}" name="{{ campo.name }}">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="d-flex" style="margin-top: 50px;">
                <button type="submit" class="btn-enviar"><i class="bi bi-check"></i>Agregar</button>
            </div>

        </form>
    </div>
    
</div>
{% endblock %}