{% extends "base.html" %}

{% block content %}
<!-- Breadcrumb -->
<div style="display: flex; align-items: center; gap: 10px;">
    <button onclick="location.href='/'" class="btn btn-primary" title="Home" style="border: none; background: none; padding: 0;">
        <i class="bi bi-house-fill" style="font-size: 22px; color: #33a3b8;"></i>
    </button>
    <p style="margin: 0;">/ {{ breadcrumb }}</p>
</div>

<!-- Main content --> 
<div class="container-fluid mt-4">
    <!-- Mostrar mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}
    
    {% set endpoint = url ~ '.agregar' %}
    <button onclick="location.href='{{ url_for(endpoint) }}'" class="btn-agregar">
        <i class="bi bi-plus-circle-dotted"></i>
        AGREGAR NUEVO
    </button>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark" id="tableHeader">
                <tr>

                    <!-- Itera sobre las cabeceras y crea una columna para cada una -->
                    {% for cabecera in cabeceras %}
                        <th>{{ cabecera }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for valor in valores %}
                <tr>
                    <!-- Botones de acciones -->
                    <td>
                        <div class="button-group">
                            {% set endpoint_editar = url ~ '.editar' %}
                            <button onclick="location.href='{{ url_for(endpoint_editar, id=valor[pk]) }}'" class="btn btn-action" title="Editar" style="background-color: #ff8130; color: black;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="btn btn-action" title="Eliminar" style="background-color: #D13B38; color: black;" data-bs-toggle="modal" data-bs-target="#eliminarModal-{{ valor[pk] }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </div>
                    </td>
                    <!-- Itera sobre todos los atributos del objeto 'valor' -->
                    {% for key, display_name in dic_valores.items() %}
                        {% if not key.startswith('_') %}
                            <td>{{ valor.__dict__[key] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <!-- Modal para eliminar -->
                <div class="modal fade" id="eliminarModal-{{ valor[pk] }}" tabindex="-1" aria-labelledby="eliminarModalLabel-{{ valor[pk] }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header d-flex flex-column">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                <h1 class="modal-title fs-5 text-danger" id="eliminarModalLabel-{{ valor[pk] }}">¿Desea eliminar de <em>{{ breadcrumb }}</em> el registro con <strong>ID: {{ valor[pk] }}</strong>?</h1>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                {% set endpoint = url ~ '.eliminar' %}
                                <form action="{{ url_for(endpoint, id=valor[pk]) }}" method="post" style="display:inline;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
      </div>

</div>
{% endblock %}