{% extends "base.html" %}

{% block content %}
<!-- Breadcrumb -->
<div style="display: flex; align-items: center; gap: 10px;">
    <button onclick="location.href='/'" class="btn btn-primary" style="border: none; background: none; padding: 0;">
        <i class="bi bi-house-fill" style="font-size: 22px; color: #33a3b8;"></i>
    </button>
    <p style="margin: 0;">/ {{ breadcrumb }}</p>
</div>
<!-- Main content -->
 
<div class="container-fluid mt-4">
    <!-- Mostrar mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}
    
    <button onclick="location.href='{{ url_agregar }}'" class="btn-agregar">
        <i class="bi bi-plus-circle-dotted"></i>
        AGREGAR NUEVO
    </button>

    <!-- Elemento donde se renderizarán los strings -->
    <div class="table-header" id="tableHeader">
        <!-- Los strings serán insertados aquí -->
    </div>
    <!-- Contenedor oculto para la lista de strings -->
    <script id="dataStrings" type="application/json">
        {{ cabeceras | tojson }}
    </script>
    <!-- Llamamos al script externo -->
    <script src="/static/js/cabeceraTabla.js"></script>
    
    

    <!-- Agregar más contenido específico de la página -->
    {% for valor in valores %}

    <div class="card" style="margin-top: 5px;">
        <div class="card-body">
            <div class="button-group">
                <button class="btn btn-action" style="background-color: #ff8130; color: black;">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-action" style="background-color: #ff3636; color: black;">
                    <i class="bi bi-trash3-fill"></i>
                </button>
            </div>
            <!-- Itera sobre todos los atributos del objeto 'valor' -->
            {% for key, display_name in dic_valores.items() %}
                {% if not key.startswith('_') and key not in ['url', 'desc_ci', 'fech_actualizacion'] %}
                    <p class="url-break">{{ valor.__dict__[key] }}</p>
                {% endif %}
            {% endfor %}
            {% if breadcrumb == "CI's" %}
                <button class="btn-expand"><i class="bi bi-caret-down-fill"></i></button>
            {% endif %}
        </div>
        <div class="card-expand">
            {% for key, display_name in dic_valores.items() %}
                {% if key in ['url', 'desc_ci', 'fech_actualizacion'] %}
                    <p><strong>{{ display_name }}:</strong> {{ valor.__dict__[key] }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    

    {% endfor %}

</div>
{% endblock %}