/* Sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3d464f;
    overflow-x: hidden;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.sidebar.closed {
    left: -250px; /* Oculta el sidebar */
}

/* Navbar */
.custom-navbar {
    background-color: #9a9999;
    height: 60px;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px); /* Ajusta al ancho del sidebar */
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 900;
    font-weight: bold;
}

.custom-navbar.sidebar-closed {
    left: 0;
    width: 100%; /* Ocupa toda la pantalla cuando el sidebar está cerrado */
}

#main-content {
    margin-left: 250px; /* Ancho del sidebar */
    padding: 20px; /* Espaciado interno */
    transition: all 0.3s ease; /* Transición suave */
    width: calc(100% - 250px); /* Resta el ancho del sidebar del 100% */
    max-width: 100%; /* Evita que exceda el ancho total */
}

#main-content.sidebar-closed {
    margin-left: 0; /* Todo el contenido se mueve hacia la izquierda */
    width: 100%; /* Ocupa todo el ancho disponible */
}

/* Botón de despliegue */
.toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #343a40;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #747474;
}

/* Links del sidebar */
.nav-link {
    color: white;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #747474;
    color: white;
}

.nav-link.active {
    background-color: #747474; /* Cambia este color al que desees */
    color: white; /* Cambia este color al que desees */
}

/* Responsivo */
@media (max-width: 768px) {
    .custom-navbar {
        height: 50px;
    }
}

.btn-agregar {
    background-color: #41b8d5;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-agregar i {
    margin-right: 8px;
    font-size: 20px;
}

.btn-agregar:hover {
    background-color: #33a3b8;
}

.table-container {
    width: 100%;
    margin: 0 auto;
}

.table-header {
    background-color: #2b343c;
    color: #fff;
    padding: 10px 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    display: flex; /* Usamos Flexbox */
    justify-content: space-around; /* Distribuye los elementos uniformemente */
    align-items: center;
}
.table-header span {
    margin: 0 10px; /* Espaciado entre los elementos */
}

.card-body {
    display: flex; /* Convierte el contenedor en flexbox */
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    align-items: center; /* Alinea verticalmente en el centro */
    border-bottom: 1px solid #2b343c;
}
.card-title {
    margin: 0; /* Elimina márgenes innecesarios para una mejor alineación */
    font-size: 14px; /* Ajusta el tamaño del texto si es necesario */
}

.button-group {
    display: flex; /* Asegura que los botones estén alineados horizontalmente */
}
.btn-action:hover {
    opacity: 0.9
}

